<div id="primary" class="content-area">

		<main id="main" class="site-main">
        <div class="container mb-5">

            {% if ( logged == true ) %}
                <div class="row">
                    
                    <div class="col-md-3 mb-5">
                        {% include 'structure-menu.html' %}
                    </div>

                    <div class="col-md-9">
                            {% block messages %}{% endblock %}
            
                            <div class="row card">
                                <div class="col-md-8 offset-md-2">
            
                                    {% block body %}{% endblock %}
            
                                </div>
                            </div><!-- #row -->
                    </div>

                </div>
            {% else %}
                <div class="row"> 
                    <div class="col-md-12">
                        <!-- // your code for logged out user  -->
                    </div>
                </div>
            {% endif %}

        </div><!-- #container -->
        </main><!-- #main -->
        
</div><!-- #primary -->
