<form id="confirmation-resend-form" method="post" action="">

        <div class="form-body my-3 p-2">
            <div class="form-row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label class="form-label" for="email">Email<span class="mandatory">*</span>:</label>
                        <input id="email" type="email" name="email" class="form-control"/>
                    </div>

                    <!-- <div class="form-group d-flex flex-column justify-content-center">
                        <div id="g-recaptcha"></div>
                    </div>  -->

                    <input class="d-none" name="form" type="text" value="forgot" />

                    <div class="form-group d-flex justify-content-center mt-3">
                        <button id="submitbtn" class="btn btn-primary" type="submit" value="forgot-password">Login to your account</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
